body
{

	color: #000000;
	background-color: #5976BA;
	font-family: Verdana, Geneva, sans-serif;
}

#container
{
	float: left;
	width: 1000px;
	background: #5976BA;
	color: #FFFFFF;
	
}

#nav
{
	
	float: left;
	width: 200px;
	background-color: #4B62AD;

}


ul
	{
	

	list-style-type: none;
	padding: 0px;
	margin: 0px;
	}
	

#content
{
	float: left;
	width: 540px;
	margin: 0 0 0 5px;
	background-color: #87ABFF;
	padding: 5px;
}

#content_w
{
	float: left;
	width: 230px;
	margin: 0 0 0 5px;
	background-color: #FFFFFF;
	color: #5976BA;
	padding: 5px;
}

a.palkki:link {color:#FF0000;}    /* unvisited link */
a.palkki:visited {color:#CFCFD1;} /* visited link */
a.palkki:hover {color:#FF00FF;}   /* mouse over link */
a.palkki:active {color:#0000FF;}  /* selected link */


.pimage
{
	float: right;
	margin: 0 0 10px 10px;
}

@media screen and (max-width:999px)
{


	
	
	
	#container { width: 800px; }

	#content_w
	{
		clear: left;
		float: none;
		margin: 0 0 0 205px;
		width: 550px;
		height: 400px;
	}
	
	.puh{
	float: left;

	}
}

@media screen and (max-width:480px) 
{
	
body{
font-size: 80%;
}
	
	
	#container { width: 300px; }



	
	
	
	#nav
	{	
		text-align: center;
		float: none;
		width: auto;
	}

	#content
	{
		float: none;
		width: auto;
		margin: 0;
	}

	#content_w
	{
		float: none;
		width: auto;
		margin: 0;
	}

	.pimage { display: none; }
}