body
{

	color: #000000;
	background-color: #5976BA;
	font-family: Verdana, Geneva, sans-serif;
	width: 100%
}

#container
{
	float: left;
	/*width: 1000px;*/
	width: 100%;
	background: #5976BA;
	color: #FFFFFF;
	height: 100%;
	
}

#nav
{
	display:none;
	float: left;
	/*width: 200px;*/
	width: auto;


}


ul
	{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	}
	

#content
	{
	float: left;
	/*width: 540px;*/
	width: 50%;
	/*height: 750px;*/
	height:100%;
	margin: 0 0 0 5px;
	background-color: #87ABFF;
	padding: 5px;
	}

#content_w
{
	float: left;
	/*width: 230px;*/
	width:220px;
	height: 100%;
	margin: 0 0 0 5px;
	background-color: #FFFFFF;
	color: #5976BA;
	padding-left:10px;
	padding-top: 10px;
}
a.palkki:link {
	color:#F5F4F2;}    /* unvisited link */
a.palkki:visited {
	color:#CFCFD1;} /* visited link */
a.palkki:hover {
	color:#0000FF;}   /* mouse over link */
a.palkki:active {
	color:#0000FF;}  /* selected link */

.pimage
{
	float: left;
	margin: 0 0 10px 10px;
	width:200px;
}

@media screen and (max-width:850px)
{

#content
	{
	width: 73.7%;
	}
#content_w
{
 	width:75%;
 	float:left;
 	padding-left:0px;
	margin: 0 0 0 5px;
}
#puhelinmallit{
padding-left:30%;
}

	.puh{
	float: left;
	padding-left:5%;
	width:80%; /* you can use % */
    height: auto;
	

	}

@media screen and (max-width:650px)
{


	.pimage
{
	float: left;
	padding-left:30%;
}

}

@media screen and (
max-width:480px) 
{
	#nav
	{	
		text-align: center;
		float: none;
		width: auto;
		height:auto;
		display:inline;
		
	}
	
	#content
	{
	width: 94%;
	margin: 0 0 0 0px;
	}
	#content_w
{
 	width:94%;
 	float:left;
 	padding-left:0px;
	margin: 0 0 0 5px;
}

	.pimage { 
	 width:50%; /* you can use % */
    height: auto;
	padding-left:30%;
	}

}

/*@media screen and (max-width:999px)
{


	
	
	
	#container { 
	width: 800px; 
	height: 100%;
	}
	
	#content
	{
	width: 550px;
	height: 580px;
	}

	#content_w
	{
		clear: left;
		float: none;
		margin: 0 0 0 205px;
		width: 550px;
		height: 450px;
	}
	
	.puh{
	float: left;
	padding-left: 50px;
	

	}
}

@media screen and (
max-width:480px) 
{
	
body{
font-size: 80%;

}
	
	
	#container { 
	max-width:480px; }



	
	
	
	#nav
	{	
		text-align: center;
		float: none;
		width: auto;
	}

	#content
	{
		float: none;
		width: auto;
		height: 510px;
		margin: 0;
	}

	#content_w
	{
		float: none;
		width: auto;
		margin: 0;
		height: 150px;
	}

	.pimage { 
	display: none; 
	}
}

@media all and (orientation:portrait) { 

body{
font-size: 80%;
}
	
	
	#container { 
	width: 100%;
	max-width:400px; }

 	#nav
	{	
		text-align: center;
		float: none;
		width: auto;
	}

	#content
	{
		float: none;
		width: auto;
		height: 510px;
		margin: 0;
	}

	#content_w
	{
		float: none;
		width: auto;
		margin: 0;
		height: 150px;
	}

	.pimage { 
	display: none; 
	}
} */